<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laibandis.gaba">

    <application
        android:label="LSPosed KISS"
        android:allowBackup="false">

        <!-- Xposed module -->
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>

        <meta-data
            android:name="xposeddescription"
            android:value="Intercity order filter"/>

        <meta-data
            android:name="xposedminversion"
            android:value="82"/>

        <!-- 🔧 ВАЖНО: settings activity -->
        <meta-data
            android:name="xposedsettings"
            android:value="com.laibandis.gaba.SettingsActivity"/>

        <!-- ⚙️ Activity настроек -->
        <activity
            android:name="com.laibandis.gaba.SettingsActivity"
            android:exported="true"/>
    </application>
</manifest>
