<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laibandis.gaba">

    <application
        android:label="LSPosed KISS"
        android:allowBackup="false">

        <!-- Xposed module marker -->
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>

        <meta-data
            android:name="xposeddescription"
            android:value="Intercity order notifier (KISS)"/>

        <meta-data
            android:name="xposedminversion"
            android:value="82"/>

    </application>
</manifest>
